* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

#linha-horizontal h1{
    font-size: 1rem;
    width: 200px;
    border: 1px solid #000;
}

.h-menu {
    width: 2em;
    height: 2em;
    position: fixed;
    z-index: 100;
    right: 2em;
    top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: 1s;
}

.show-menu .h-menu {
    right: 18rem;
}

.show-menu #line1 {
    position: relative;
    width: 55%;
    left: .7em;
    top: .2em;
    transform: rotate(29deg) translate(.1rem);
}

.show-menu #line2 {
    width: 85%;
}

.show-menu #line3 {
    position: relative;
    width: 50%;
    left: .9em;
    bottom: .2em;
    transform: rotate(-29deg) translate(-.1rem);

}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;

}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    font-family: "Baloo Da 2", serif;
    font-size: 2rem;
    color: #000000;
    transition: color 0.2s;
}

.menu-link:hover {
    color: #4b4b4b;
}

section {
    background-color: #505050;
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 180px 30%;
    font-family: roboto;
    color: white;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.s-section {
    background-image: url('ibg.jpg');
}

.q-section {
    background-image: url('portifolio.jpeg');
}

.decoration {
    position: relative;
    background-color: rgba(219, 218, 218, 0.473);
    color: #000;
    text-align: center;
    font-size: .9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: .9em .9em .9em;
    border-radius: 15px;
    bottom: 7rem;
}
